<body>
    <%- include('./partials/navbar') %>
    <%- include('./partials/messages') %>
    <form id="fs-frm" name="complaint-form" accept-charset="utf-8" action="https://formspree.io/f/{form_id}" method="post">
        <fieldset id="fs-frm-inputs">
           <label for="full-name">Complaint Title</label>
          <input type="text" name="c-title" id="c-title" placeholder="Complaint Title" required="">
          <label for="full-name">Full Name</label>
          <input type="text" name="name" id="full-name" placeholder="First and Last" required="">
          <label for="email-address">Email Address</label>
          <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
          <label for="telephone">Telephone Number</label>
          <input type="telephone" name="telephone" id="telephone" placeholder="03## ###-####" required="">
          <label for="complaint">Complaint</label>
          <textarea rows="6" name="complaint" id="complaint" placeholder="Write your complaint here" required=""></textarea>
          <input type="hidden" name="_subject" id="email-subject" value="Complaint Form Submission">
        </fieldset>
        <input type="submit" value="Submit Complaint">
      </form>
</body>